* {
    margin: 0;
}

img
{
content:icon;
icon:url(logo.png);
}

#middlebar {
color: lime;
background-color: white;
background-position: inherit;
position: absolute;
top:    00%;
left:  110px;
height:100px;
right: 220px;
min-width: 700px;
}
h1 {
text-align: center;
text-height: auto;
color: lime;
background-position: inherit;
position: absolute;
top:    30px;
left:  50px;
height:40px;
right: 100%;
min-width: 700px;
text-decoration: none;
}
 a h1:hover {
    text-decoration: none;
}

#mainMenu {
position:absolute;
top:100px;
height: 80px;
left: 0px;
width:100%;
     background-color: grey;
    background-image: -webkit-linear-gradient(top ,lightgrey, grey,lightgrey); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top,lightgrey, grey,lightgrey); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top,lightgrey, grey,lightgrey); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top,lightgrey, grey,lightgrey); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom,lightgrey, grey,lightgrey); /* Standard syntax; must be last */
}

#TextFeld {
position:absolute;
top:320px;
left:20px;
width:70%;
}

.info {
font-family:Verdana,Arial,Helvetica, "Trebuchet MS ",Tahoma,Geneva, "Lucida Sans Unicode ", "Lucida Grande ",sans-serif,bold;
font-size: 40px;   
}

.infobild{
    position: relative;
    top: 200px;
    left: 550px;
    font-size: 20px;
}
.ueber {
    font-size: 30px;
    line-height: 150%;
}

.text {
    font-size: 20px;
    height: 150%;
}

#visitk {
    width: 80%;
}
#menuakt {
    position: absolute;
    top:  83px;
    left: 0px;
}

#menutext {
    position: absolute;
    top: 125px;
    left: 0px;
    text-align: center;
    color: white;
    text-shadow: whitesmoke;
    font-size:25px;
}
#Laufen {
    position: inherit;
    cursor: pointer;
    width: 150px;
    height:100px;
}

#Tools {
    position: inherit;
    cursor: pointer;
    left: 150px;
    width: 150px;
    height:100px;
}

#Games {
    position: inherit;
    cursor: pointer;
    left: 300px;
    width: 150px;
    height:100px;
}

#Chronik {
    position: inherit;
    cursor: pointer;
    left: 450px;
    width: 300px;
    height:100px;
    text-align: left;
}

#Wissen {
    position: inherit;
    cursor: pointer;
    left: 600px;
    width: 150px;
    height:100px;
}

#Schach {
    position: inherit;
    cursor: pointer;
    left: 750px;
    width: 150px;
    height:100px;
}

#aktiviert {
    display:none;
    position: relative;
    top: 20px;
    width: 150px;
    height: 75px;
    background-color: lightgrey;

}
#Laufmenu {
    position: absolute;
    top: 198px;
    left: 0%;
    text-height: font-size;
    font-size: 15px;
    height: 40px;
}

.Laufbutton1 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    width: 140px;
    height: 100px;
}

.Toolbutton1 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    width: 140px;
    height: 100px;
}

.Gamebutton1 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    width: 140px;
    height: 100px;
}

.Gamebutton2 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    left:140px;
    width: 140px;
}

.Gamebutton3 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    left:320px;
    width: 140px;
}
.Chronikbutton1 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    width: 140px;
    height: 100px;
}

.Laufbutton2 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    left:140px;
    width: 140px;
    height: 100px;
}
.Laufbutton3 {
    text-align: center;
    display:none;
    color: black;
    position: inherit;
    left:280px;
    width: 140px;
    height: 100px;
}
#rmaktuell{
    position: absolute;
    top: 184px;
    left: 0%;
    
}
.aktuell {
    display:none;
    position: relative;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: grey;
    background-color: white;
    border-bottom-color: white;
    width:140px;
    left:0px;
    height: 100px;
}

#Blogmenu {
    display:none;
    border-style: solid;
    border-color: grey;
    color: black;
    text-align: center;
    text-shadow: white;
    position: fixed;
    top:200px;
    left: 30px;
    height: 70px;
    width: 150px;
    background-color:#F4D061;
}

#submenuback {
    display: none;
    position: absolute;
    top:180px;
    height: 110px;
    left: 0px;
    width: 100%;
}

#menuLine {
    display: none;
    position: absolute;
    background-color: grey;
    left: 0px;
    width: 100%;
    height: 3px;
    top: 287px;
}


#Personal1 {
    background-color: #F22C22;
}


#menuk {
    width: 15%;
}
#footer {

position:fixed;
bottom:0px;
right: 0px;
left:  0px;
}


.MeinBild {
    position: fixed;
    bottom: 20px;
    left: 110px;
    width: 120px;
    
}

#menu {
    position: fixed;
    left: 0px;
    top: 70px;
    width: 180px;
}


#Buttonblog {
    position:  fixed;
    top: 70px;
    right:  30px;
    width: 50px;
    height: 160px;
    font-family: cursive;
    background-color: yellow;
    border:solid;
    border-width: thin;
    border-color: black;
    text-decoration: none;
    text-align: center;
    color: #E62222;
}

#Buttonblog:hover {
    background-color: #00FF40;
}
 /* Buttons Ende */       
 .pseudo {
    position: fixed;
    top: 20%;
    bottom: 20%;
    left: 110px;
    right: 110px;
    min-width: 700px;
    background-color: #FBF9A4;
 }
 
 .leftbar {
    position: absolute;
    top: 0px;
    width: 110px;
    left: 00px;
    height: 80px;
    background-color: white;
 }
 
 .rightbar {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 80%;
    height: 80px;
    background-color: white;
 }
 
 .logo {
    position: absolute;
    top:20px;
    left: 35px;
    height: 40px;
 }
 
 #areainformatik {
     cursor: pointer;
     position: absolute;
     top: 100px;
     left:0px;
     width: 250px;
     height: 200px;
     background-color: #9A3AF9;
     border-style: solid;
     border-color:  #0000ff;
     
 }
 
 #informatik {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
 #areapsychologie  {
     cursor: pointer;
     position: absolute;
     top: 100px;
     left:300px;
     width: 250px;
     height: 200px;
     background-color: #9A3AF9;
     border-style: solid;
     border-color:  #0000ff;
     
 }
 
 #psychologie {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
  #areametaphysik  {
     cursor: pointer;
     position: absolute;
     top: 100px;
     left:600px;
     width: 250px;
     height: 200px;
     background-color: #9A3AF9;
     border-style: solid;
     border-color:  #0000ff;
     
 }
 
 #metaphysik {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
  #areainfo {
     cursor: pointer;
     position: absolute;
     top: 50px;
     left:0px;
     width: 250px;
     height: 200px;
     background-color: #00cf00;
     border-style: solid;
     border-color:  #F4D061;
     
 }
 
 #informatikfor {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
 #areapsycho  {
     cursor: pointer;
     position: absolute;
     top: 50px;
     left:300px;
     width: 250px;
     height: 200px;
     background-color: #00cf00;
     border-style: solid;
     border-color: #F4D061;
     
 }
 
 #psychologiefor {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
  #arealaufen  {
     cursor: pointer;
     position: absolute;
     top: 50px;
     left:600px;
     width: 250px;
     height: 200px;
     background-color: #00cf00;
     border-style: solid;
     border-color:  #F4D061;
     
 }
 
 #laufenfor {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
 #arealinux {
     cursor: pointer;
     position: absolute;
     top: 350px;
     left:0px;
     width: 250px;
     height: 200px;
     background-color: #00cf00;
     border-style: solid;
     border-color:  #F4D061;
     
 }
 
 #linuxfor {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
 #areawindows  {
     cursor: pointer;
     position: absolute;
     top: 350px;
     left:300px;
     width: 250px;
     height: 200px;
     background-color: #00cf00;
     border-style: solid;
     border-color:  #F4D061;
     
 }
 
 #windowsfor {
     text-height: font-size;
     font-size: 30px;
     color: white;
     position: relative;
     top: 100px;
     left: 5px;
     
 }
 
 #impressium a{
     color: black;
     text-shadow: blue 3px 3px 5px;
     cursor: pointer;
     position: fixed;
     bottom: 5px;
     right:10px;
     text-decoration: none;
 }
 
 #blog {
    cursor: pointer; 
    position: absolute;
    top: 100px;
    right: 20px;
    width:100px;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color:  grey;
    background-color: grey;
    background-image: -webkit-linear-gradient(top ,whitesmoke, grey,whitesmoke); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top,whitesmoke, grey,whitesmoke); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top,whitesmoke, grey,whitesmoke); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top,whitesmoke, grey,whitesmoke); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom,whitesmoke, grey,whitesmoke); /* Standard syntax; must be last */
 }
 
  #bloghover {
    display: none;
    cursor: pointer; 
    position: absolute;
    top: 100px;
    right: 20px;
    width:100px;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color:  #00cf00;
    background-color:lightgrey;
  }
 
 .blogtext {
     position: relative;
     color: black;
     top: 20px;
     left: 20px;
     width:80px;
     height: 80px;
 }
 
 #Wechsel {
    position: fixed;
    cursor: pointer; 
    bottom:70px;
    right: 20px;
    width:100px;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color:  grey;
    background-color: grey;
    background-image: -webkit-linear-gradient(top ,whitesmoke, grey,whitesmoke); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top,whitesmoke, grey,whitesmoke); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top,whitesmoke, grey,whitesmoke); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top,whitesmoke, grey,whitesmoke); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom,whitesmoke, grey,whitesmoke); /* Standard syntax; must be last */
  }
  
  #Wechselhover {
    display: none;
    cursor: pointer; 
    position: fixed;
    bottom:70px;
    right: 20px;
    width:100px;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color:  #00cf00;
    background-color:lightgrey;
  }
  
  .Pc {
    display: none;
    position: relative;
    top: 40px;
    left: 40px;
  }
  
  .Phone {
    display: none;
    position: relative;
    top: 40px;
    left: 25px; 
  }
  
  #chess {
      cursor: pointer; 
      position: absolute;
      top: 220px;
      right: 0px;
  }
  
  .amazon1 {
    position: absolute;
     top: 250px;
     right: 0px;
  }
  
  .amazonb {
    position: relative;
     top: 0px;
     left: 0%;
  }
  
  <!-- Schachbrett -->
.ct-white-square  
{  
    background-color: LightGray;  
} 
    
    
<!-- Katzen slideshow -->
    .row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: grey;

}

/* Modal Content */
.modal-content {

    
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 11;
 
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    max-height: 600px;  
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 10px;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 90%;;
  width: 10px;
  padding: 16px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: grey;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.galeryüber {
    text-align: center;
    font-size: 150%;
}

/* Merlin 2.slideshow************************************************/
/* The Modal (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: grey;

}

/* Modal Content */
.modal-content2 {

    
}

/* The Close Button */
.close2 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 11;
 
}

.close2:hover,
.close2:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides2 {
    max-height: 600px;  
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 10px;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 90%;;
  width: 10px;
  padding: 16px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container2 {
  text-align: center;
  background-color: grey;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.galeryüber {
    text-align: center;
    font-size: 150%;
}